<section>
<header class="page-header">
<h1>About Us</h1>
</header>
<div class="intro">
<p>At our online plant shop, our objective is to exclusively offer top quality plants and flowers. We carefully select our products from trustworthy growers and nurseries, guaranteeing you receive a beautiful and healthy plant. Furthermore, our ordering process is fast and convenient. To make plant shopping affordable, we provide very reaseonale price to our customers. This way, acquiring the desired plants is effortless and budget-friendly.</p>
</div>
</section>